
.BreaseSectionToolbar{
    background-color: rgba(245, 246, 248, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid #E2E4EA;
    height: 46px;
    padding: 8px 16px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    top:0
}

.BreaseSectionToolbar .BreaseSectionTitle{
    font-weight:500;
    color:#282B32;
}

.BreaseSectionToolbar .BreaseToolbarActions{
    display: flex;
    align-items: center;
    gap: 12px;
}

.BreaseSectionToolbar .BreaseEditButton{
    background-color: #07080A;
    border: none;
    border-radius: 44px;
    padding: 0 10px;
    font-size: 12px;
    font-weight:500;
    color: #FFFFFF;
    cursor: pointer;
    height:30px;
    align-items: center;
    display: flex;
}

.BreaseSectionToolbar .BreaseToggleSectionButton{
    background-color: #FFFFFF;
    border: 1px solid #E2E4EA;
    border-radius: 50%;
    width:30px;
    height:30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.BreaseSectionToolbar .BreaseToggleSectionButton svg {
    transform:rotate(180deg);
    transition:300ms transform ease-in-out;
    pointer-events: none;
}
.BreaseSectionToolbar .BreaseToggleSectionButton[data-open="false"] svg {
    transform:rotate(0deg);
}

.BreaseSectionToolbar + section{
    opacity:1;
    transition:500ms opacity ease-in-out, 500ms margin ease-in-out;
}
.BreaseSectionToolbar:hover + section{
    opacity:0.6;
}